.landing-section {
  width: 100%;
  max-width: var(--cMaxWidth);
  margin: auto;
  position: relative;
  height: var(--vh);
}
.landing-container {
  width: var(--cWidth);
  margin: auto;
  height: 100%;
  position: relative;
  max-width: var(--cMaxWidth);
}
.landing-circle1 {
  top: 0%;
  left: 0%;
  z-index: 15;
  position: fixed;
  width: 300px;
  height: 300px;
  background-color: #fb8dff;
  box-shadow: inset -50px 40px 50px rgba(84, 0, 255, 0.6);
  filter: blur(60px);
  border-radius: 50%;
  animation: loadingCircle 5s linear infinite;
}
.nav-fade {
  position: fixed;
  top: 0;
  width: 100%;
  height: 130px;
  background-image: linear-gradient(
    0deg,
    transparent,
    var(--backgroundColor) 70%
  );
  pointer-events: none;
  z-index: 12;
  opacity: 0;
  left: 0;
}
@keyframes loadingCircle {
  0% {
    transform: translate(-95%, -75%) rotateZ(0deg);
  }
  100% {
    transform: translate(-95%, -75%) rotateZ(360deg);
  }
}

.landing-circle2 {
  top: 50%;
  right: 0%;
  transform: translate(calc(100% - 2px), -50%);
  z-index: 9;
  position: fixed;
  display: none;
  width: 300px;
  height: 300px;
  background-color: #fb8dff;
  box-shadow: inset -50px 40px 50px rgba(84, 0, 255, 0.6);
  filter: blur(50px);
  border-radius: 50%;
  animation: loadingCircle2 5s linear infinite;
}
@keyframes loadingCircle2 {
  100% {
    transform: translate(calc(100% - 2px), -50%) rotate(360deg);
  }
}
.landing-video,
.landing-image {
  position: absolute;
  bottom: 0;
  height: 95%;
  left: 50%;
  transform: translateX(-50%);
}
.landing-image img {
  height: 100%;
  z-index: 2;
  position: relative;
}
.character-rim {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 1;
  background-color: #f59bf8;
  transform: translate(-50%, 36%) scaleX(1.4);
  box-shadow: inset 66px 35px 85px 0px rgba(85, 0, 255, 0.65);
  filter: blur(50px);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%) scale(1.4);
  opacity: 0;
}
.character-model {
  height: 80%;
  height: 80vh;
  position: absolute;
  max-width: 1920px;
  max-height: 1080px;
  transform: translateX(-50%);
  width: 100%;
  left: 50%;
  z-index: 0;
  bottom: 50px;
  pointer-events: inherit;
}
.character-model::after {
  content: "";
  width: 100vw;
  height: 250px;
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--backgroundColor) 70%
  );
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  position: absolute;
}
.character-model::before {
  content: "";
  width: 100vw;
  height: 700px;
  background-color: var(--backgroundColor);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  position: absolute;
}
.character-loaded .character-rim {
  animation: backlight 3s forwards;
  animation-delay: 0.3s;
  opacity: 0;
}
.character-model canvas {
  position: relative;
  pointer-events: none;
  z-index: 2;
}
.character-hover {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.landing-intro {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 4vw;
  transform: translateY(-50%);
  text-align: left;
}
.landing-intro h2 {
  margin: 0;
  color: var(--accentColor);
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.landing-intro h1 {
  margin: 12px 0 0 0;
  letter-spacing: 2px;
  font-size: 76px;
  line-height: 78px;
  font-weight: 700;
  font-family: "Geist", sans-serif;
  color: #ffffff;
  opacity: 1;
}

.landing-intro h1 span {
  color: #c481ff;
  opacity: 1;
}

.landing-info {
  position: absolute;
  right: 4vw;
  transform: translateY(-50%);
  top: 50%;
  z-index: 9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing-info h3 {
  font-size: 36px;
  letter-spacing: 4px;
  font-weight: 400;
  color: var(--accentColor);
  margin: 0 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
}
.landing-info h2 {
  margin: 0;
  font-family: "Geist", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 68px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;
  justify-content: center;
  text-align: center;
  color: #c481ff;
  opacity: 1;
}
.landing-h2-info-1 {
  position: absolute;
  top: 0;
  color: #c481ff;
  opacity: 1;
}
h2.landing-info-h2 {
  color: #c481ff;
  font-size: 68px;
  width: 100%;
  margin: 0;
  font-family: "Geist", sans-serif;
  font-weight: 700;
  position: relative;
  justify-content: center;
  text-align: center;
  opacity: 1;
}
.landing-h2-2 {
  position: absolute;
  top: 0;
  color: #c481ff;
  opacity: 1;
}
.landing-info-h2::after {
  display: none;
}
@media screen and (min-width: 500px) {
  .landing-circle2 {
    display: block;
  }
  .landing-info h3 {
    font-size: 28px;
  }
  .landing-intro h2 {
    font-size: 28px;
  }
  .landing-intro h1 {
    font-size: 48px;
    line-height: 50px;
  }
  .landing-info h2 {
    font-size: 48px;
    line-height: 52px;
  }
  h2.landing-info-h2 {
    font-size: 52px;
  }
}
@media screen and (min-width: 768px) {
  .landing-intro h2 {
    font-size: 32px;
  }
  .landing-intro h1 {
    font-size: 60px;
    line-height: 62px;
  }
  .landing-info h3 {
    font-size: 32px;
  }
  .landing-info h2 {
    font-size: 56px;
    line-height: 58px;
  }
  h2.landing-info-h2 {
    font-size: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .landing-intro {
    top: 50%;
    left: 4vw;
    right: auto;
    transform: translateY(-50%);
    text-align: left;
  }

  .landing-info {
    bottom: auto;
    top: 50%;
    z-index: 9;
    text-align: center;
    transform: translateY(-50%);
    right: 4vw;
    left: auto;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .landing-intro {
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
  }

  .landing-info {
    top: 50%;
    right: 5vw;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 1600px) {
  .landing-intro h2 {
    font-size: 38px;
  }
  .landing-intro h1 {
    font-size: 76px;
    line-height: 78px;
  }
  .landing-info h3 {
    font-size: 38px;
  }
  .landing-info h2 {
    font-size: 68px;
    line-height: 70px;
  }
  h2.landing-info-h2 {
    font-size: 72px;
  }
}
